html {
  background-color: rgba(67, 68, 66, 0.904);
  font-family: serif;

}
body {
    padding: 2%;
}

main {
    margin-bottom: 1%;
    margin-bottom: 20;
    
}

h1 {
    color: azure;
    text-align: center;
    font-family: serif;
    font-size: 3.0em;
}
nav {
    height: 60px;
    padding: 1%;
    background-color: rgb(19, 125, 211);
    margin-bottom: 10px;
    

}
nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}
nav a {
    color: azure;
    font-size: x-large;
    text-transform: uppercase;
    display: inline-block;
}

p {
    color: azure;
    text-align: center;
    font-size: 1em;
    font-family: serif;

}
section {
    display:flex;
    text-align: left;

}
h2 {
    color: azure;
    font-size: 2em;
    font-family: serif;
    text-align: center;
}

p a {
    color: azure;
}

article {
    color: azure;
    background-color: rgb(19, 125, 211);
    margin-right: 20px;
    font-size: 1.5em;
    width: 1000px;
    padding-left: 1%;
    padding-right: 1%;

}
article img {
    width: 50%;
}
div{
    display: flex;

}
.pictures img:first-child{
   width: 65%;
   padding: 5px;
}

.pictures img:last-child{
    padding: 5px;

}
.center {
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


aside {
    background-color: rgb(19, 125, 211);
    font-size: 1.5em;
    text-align:match-parent;
    color: azure;
    padding: 1%;
    flex: 1%;
    padding-left: 5%;
    padding-right: 5%;
    width: 20%;
    
}
aside ul{
    flex: block;
    padding-left: 1%;
    text-align: left;
    flex: 60%;
}
aside img{
    width: 100%;
}
footer {
    background-color: rgb(19, 125, 211);
    color: azure;
    font-family: serif;
    font-size: 1em;
    padding: 0.01%;


    

}


